<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V2</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static'  ,filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')  }}" >
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='fonts/iconic/css/material-design-iconic-font.min.css')  }}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/util.css') }}"  >
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main1.css') }}" >

	<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">


				<form  action='/' method='POST' class="login100-form validate-form">
					<span class="login100-form-title p-b-26">
						Welcome<br>
						<h6 style="padding:5px"></h6>APN PIZZA</h6> 
					</span>


					<div class="wrap-input100 validate-input" >
						<span class="btn-show-pass">
						</span>
						<input class="input100" type="text" name="name" required>
						<span class="focus-input100" data-placeholder="Name"></span>
					</div>


					<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
						<input class="input100" type="text" name="email" required>
						<span class="focus-input100" data-placeholder="Email"></span>
					</div>


					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							
							
							<button class="login100-form-btn" >
								Login
							</button>


						</div>
					</div>

				</form>
			</div>
		</div>
	</div>
	



</body>
</html>